<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contas a Pagar</title>
</head>
<body>
    <h1>Contas a Pagar</h1>

    <ul>
        <li>Descrição - Valor - Mês - Ano</li>
        <li>Descrição - Valor - Mês - Ano</li>
        <li>Descrição - Valor - Mês - Ano</li>
        <li>Descrição - Valor - Mês - Ano</li>
    </ul>

    <a href="/cadastro">Nova Conta</a>
</body>
</html>